---
import { getImage } from "astro:assets";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import indexIcon from "../assets/code-dots.svg";
import "@fontsource-variable/onest";
interface Props {
  title: string;
  description: string;
}
const favIcon = await getImage({
  src: indexIcon,
  width: 32,
  height: 32,
});
const favIconApple = await getImage({
  src: indexIcon,
  width: 180,
  height: 180,
  format: "png",
});
const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={favIcon.src} />
    <link rel='apple-touch-icon' href={favIconApple.src} />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]'
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    /* --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    ); */
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
